@font-face { font-family: 'iconfont-token'; src: url('iconfont-token.ttf?myy73y') format('truetype'), url('iconfont-token.woff?myy73y') format('woff'), url('iconfont-token.svg?myy73y#iconfont-token') format('svg'); font-weight: normal; font-style: normal; }
[class^="icon-token"], [class*=" icon-token"] {  /* use !important to prevent issues with browser extensions that change fonts */
font-family: 'iconfont-token' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1;  /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.icon-MOOLYA:before { content: "\e909"; }
.icon-MOT:before { content: "\e9be"; }
.icon-INK:before { content: "\e9bf"; }
.icon-MOOLYA1:before { content: "\e9c0"; }
.icon-NCU:before { content: "\e9c1"; }
.icon-IBT:before { content: "\e9c2"; }
.icon-SMDX:before { content: "\e9c3"; }
.icon-CDCC:before { content: "\e9c4"; }
.icon-WEB:before { content: "\e9c5"; }
.icon-HDL:before { content: "\e9c6"; }
.icon-RDEX:before { content: "\e9c7"; }
.icon-R:before { content: "\e9c8"; }
.icon-HAND:before { content: "\e9c9"; }
.icon-GPT:before { content: "\e9ca"; }
.icon-FOTC:before { content: "\e9cb"; }
.icon-BITS:before { content: "\e9cc"; }
.icon-GUSD:before { content: "\e9cd"; }
.icon-MOTE:before { content: "\e9ce"; }
.icon-MRL:before { content: "\e9cf"; }
.icon-RTE:before { content: "\e9d0"; }
.icon-BRM:before { content: "\e9d1"; }
.icon-CEN:before { content: "\e9d2"; }
.icon-BOE:before { content: "\e9d3"; }
.icon-QUBE:before { content: "\e9d4"; }
.icon-SET:before { content: "\e9d5"; }
.icon-TCT:before { content: "\e9d6"; }
.icon-ECT:before { content: "\e9d7"; }
.icon-XMRC:before { content: "\e9d8"; }
.icon-EPH:before { content: "\e9d9"; }
.icon-NTK:before { content: "\e9da"; }
.icon-JNT:before { content: "\e9db"; }
.icon-ATN:before { content: "\e9dc"; }
.icon-MT:before { content: "\e9dd"; }
.icon-HVN:before { content: "\e9de"; }
.icon-QCH:before { content: "\e9df"; }
.icon-CVH:before { content: "\e9e0"; }
.icon-CYBER:before { content: "\e9e1"; }
.icon-TRUE:before { content: "\e9e2"; }
.icon-TUSD:before { content: "\e9e3"; }
.icon-HT:before { content: "\e9b8"; }
.icon-CND:before { content: "\e9b9"; }
.icon-BKX:before { content: "\e9ba"; }
.icon-BETR:before { content: "\e9bb"; }
.icon-BBN:before { content: "\e9bc"; }
.icon-AION:before { content: "\e9bd"; }
.icon-WAX:before { content: "\e900"; }
.icon-GVT:before { content: "\e902"; }
.icon-WPR:before { content: "\e903"; }
.icon-TNB:before { content: "\e904"; }
.icon-BRD:before { content: "\e905"; }
.icon-YOYOW:before { content: "\e906"; }
.icon-FUEL:before { content: "\e907"; }
.icon-AMB:before { content: "\e908"; }
.icon-BOS:before { content: "\e90a"; }
.icon-TRAC:before { content: "\e90b"; }
.icon-INSUR:before { content: "\e90c"; }
.icon-XMM:before { content: "\e90d"; }
.icon-BIZ:before { content: "\e90e"; }
.icon-BTK:before { content: "\e90f"; }
.icon-BTO:before { content: "\e910"; }
.icon-IDHUB:before { content: "\e911"; }
.icon-ALI:before { content: "\e912"; }
.icon-CPC:before { content: "\e913"; }
.icon-HB:before { content: "\e914"; }
.icon-TEN:before { content: "\e915"; }
.icon-TNT:before { content: "\e916"; }
.icon-ABA:before { content: "\e917"; }
.icon-MXCA:before { content: "\e918"; }
.icon-BP:before { content: "\e919"; }
.icon-EQC:before { content: "\e91a"; }
.icon-RATING:before { content: "\e91b"; }
.icon-LBA:before { content: "\e91c"; }
.icon-HSC:before { content: "\e91d"; }
.icon-PNT:before { content: "\e91e"; }
.icon-MTH:before { content: "\e91f"; }
.icon-QKC:before { content: "\e920"; }
.icon-DET:before { content: "\e921"; }
.icon-FKX:before { content: "\e922"; }
.icon-ENJ:before { content: "\e923"; }
.icon-BCPT:before { content: "\e924"; }
.icon-SNM:before { content: "\e925"; }
.icon-CTR:before { content: "\e926"; }
.icon-MDA:before { content: "\e927"; }
.icon-SUB:before { content: "\e928"; }
.icon-CMT:before { content: "\e929"; }
.icon-ADX:before { content: "\e92a"; }
.icon-DGD:before { content: "\e92b"; }
.icon-POE:before { content: "\e92c"; }
.icon-CDT:before { content: "\e92d"; }
.icon-DLT:before { content: "\e92e"; }
.icon-NULS:before { content: "\e96a"; }
.icon-MOD:before { content: "\e96c"; }
.icon-EVX:before { content: "\e96d"; }
.icon-BKBT:before { content: "\e96e"; }
.icon-STORM:before { content: "\e96f"; }
.icon-NCASH:before { content: "\e970"; }
.icon-BLZ:before { content: "\e971"; }
.icon-INS:before { content: "\e993"; }
.icon-VIBE:before { content: "\e9ac"; }
.icon-OST:before { content: "\e9ad"; }
.icon-WABI:before { content: "\e9ae"; }
.icon-LEND:before { content: "\e9af"; }
.icon-VIB:before { content: "\e9b0"; }
.icon-LOOM:before { content: "\e9b1"; }
.icon-APPC:before { content: "\e9b2"; }
.icon-EDO:before { content: "\e9b3"; }
.icon-GTO:before { content: "\e9b4"; }
.icon-MTN:before { content: "\e9b5"; }
.icon-AGI:before { content: "\e9b6"; }
.icon-BFT:before { content: "\e9b7"; }
.icon-FOO:before { content: "\e901"; }
.icon-GUP:before { content: "\e979"; }
.icon-GNT:before { content: "\e9ab"; }
.icon-PAY:before { content: "\e92f"; }
.icon-PPP:before { content: "\e930"; }
.icon-SNGLS:before { content: "\e931"; }
.icon-WTC:before { content: "\e932"; }
.icon-SWT:before { content: "\e933"; }
.icon-CFI:before { content: "\e934"; }
.icon-WINGS:before { content: "\e935"; }
.icon-XAUR:before { content: "\e936"; }
.icon-TAAS:before { content: "\e937"; }
.icon-TKN:before { content: "\e938"; }
.icon-TRST:before { content: "\e939"; }
.icon-SALT:before { content: "\e93a"; }
.icon-SAN:before { content: "\e93b"; }
.icon-STORJ:before { content: "\e93c"; }
.icon-PPT:before { content: "\e93d"; }
.icon-REX:before { content: "\e93e"; }
.icon-RHOC:before { content: "\e93f"; }
.icon-RLC:before { content: "\e940"; }
.icon-ROL:before { content: "\e941"; }
.icon-POWR:before { content: "\e942"; }
.icon-QSP:before { content: "\e943"; }
.icon-RCN:before { content: "\e944"; }
.icon-RDN:before { content: "\e945"; }
.icon-REQ:before { content: "\e946"; }
.icon-MTL:before { content: "\e947"; }
.icon-NET:before { content: "\e948"; }
.icon-NMR:before { content: "\e949"; }
.icon-PLU:before { content: "\e94a"; }
.icon-LUN:before { content: "\e94b"; }
.icon-MANA:before { content: "\e94c"; }
.icon-MCO:before { content: "\e94d"; }
.icon-MGO:before { content: "\e94e"; }
.icon-MLN:before { content: "\e94f"; }
.icon-IOST:before { content: "\e950"; }
.icon-KIN:before { content: "\e951"; }
.icon-LINK:before { content: "\e952"; }
.icon-FUN:before { content: "\e953"; }
.icon-GNO:before { content: "\e954"; }
.icon-HMQ:before { content: "\e955"; }
.icon-ICN:before { content: "\e956"; }
.icon-IND:before { content: "\e957"; }
.icon-DRP:before { content: "\e958"; }
.icon-EDG:before { content: "\e959"; }
.icon-ENG:before { content: "\e95a"; }
.icon-ETHOS:before { content: "\e95b"; }
.icon-CVC:before { content: "\e95c"; }
.icon-DAI:before { content: "\e95d"; }
.icon-DNT:before { content: "\e95e"; }
.icon-BNT:before { content: "\e95f"; }
.icon-BTM:before { content: "\e960"; }
.icon-CAT:before { content: "\e961"; }
.icon-ANT:before { content: "\e962"; }
.icon-ARP:before { content: "\e963"; }
.icon-AST:before { content: "\e964"; }
.icon-ATM:before { content: "\e965"; }
.icon-1ST:before { content: "\e966"; }
.icon-VITE:before { content: "\e967"; }
.icon-AE:before { content: "\e968"; }
.icon-DASH:before { content: "\e969"; }
.icon-VERI:before { content: "\e96b"; }
.icon-LSK:before { content: "\e972"; }
.icon-KMD:before { content: "\e973"; }
.icon-KNC:before { content: "\e974"; }
.icon-LTC:before { content: "\e975"; }
.icon-GAS:before { content: "\e976"; }
.icon-PIVX:before { content: "\e977"; }
.icon-REP:before { content: "\e978"; }
.icon-XVG:before { content: "\e97a"; }
.icon-ZEC:before { content: "\e97b"; }
.icon-ZIL:before { content: "\e97c"; }
.icon-ZRX:before { content: "\e97d"; }
.icon-WAVES:before { content: "\e97e"; }
.icon-WETH:before { content: "\e97f"; }
.icon-XLM:before { content: "\e980"; }
.icon-XMR:before { content: "\e981"; }
.icon-XRB:before { content: "\e982"; }
.icon-XRP:before { content: "\e983"; }
.icon-NAS:before { content: "\e984"; }
.icon-NEM:before { content: "\e985"; }
.icon-TRX:before { content: "\e986"; }
.icon-USDT:before { content: "\e987"; }
.icon-VEN:before { content: "\e988"; }
.icon-SC:before { content: "\e989"; }
.icon-SNT:before { content: "\e98a"; }
.icon-STEEM:before { content: "\e98b"; }
.icon-STRAT:before { content: "\e98c"; }
.icon-LRC:before { content: "\e98d"; }
.icon-MKR:before { content: "\e98e"; }
.icon-OMG:before { content: "\e98f"; }
.icon-PLR:before { content: "\e990"; }
.icon-QASH:before { content: "\e991"; }
.icon-ICX:before { content: "\e992"; }
.icon-IOTA:before { content: "\e994"; }
.icon-KCS:before { content: "\e995"; }
.icon-ETH:before { content: "\e996"; }
.icon-ETN:before { content: "\e997"; }
.icon-GBYTE:before { content: "\e998"; }
.icon-HSR:before { content: "\e999"; }
.icon-NEO:before { content: "\e99a"; }
.icon-DGB:before { content: "\e99b"; }
.icon-DOGE:before { content: "\e99c"; }
.icon-ELF:before { content: "\e99d"; }
.icon-EOS:before { content: "\e99e"; }
.icon-ETC:before { content: "\e99f"; }
.icon-BNB:before { content: "\e9a0"; }
.icon-BTS:before { content: "\e9a1"; }
.icon-DCR:before { content: "\e9a2"; }
.icon-ARDR:before { content: "\e9a3"; }
.icon-ARK:before { content: "\e9a4"; }
.icon-BAT:before { content: "\e9a5"; }
.icon-BCN:before { content: "\e9a6"; }
.icon-BTG:before { content: "\e9a7"; }
.icon-ADA:before { content: "\e9a8"; }
.icon-BTC:before { content: "\e9a9"; }
.icon-QTUM:before { content: "\e9aa"; }
