<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./static/favicon.ico">
  <title>Circulr Wallet & DEX By Loopring Protocol</title>
  <meta name="keywords" content="Loopring protocol Circulr Wallet & DEX LRC" />
  <meta name="description" content="Loopring protocol Circulr Wallet & DEX LRC" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
