<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./static/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" >
  <title>Dexlab Wallet & DEX By Dexlab Protocol</title>
  <meta name="keywords" content="Dexlab protocol Dexlab Wallet & DEX DXL" />
  <meta name="description" content="Dexlab protocol Dexlab Wallet & DEX DXL" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
