.right-panel-modal{
  left:auto;
  .ant-modal{
    top:0px;
    position: absolute;
    right: 0;
    margin:0;
    .ant-modal-content{
      background: rgba(0,83,184,1);
      height:100vh;
      .ant-modal-body{
        height: 100%;
      }
    }
  }
}
.colored-panel{
  background: rgba(0,83,184,1);
  padding:15px;
  height: 100%;
}
