.right-panel-modal{
  left:auto;
  .ant-modal{
    top:0px;
    position: absolute;
    right: 0;
    margin:0;
    .ant-modal-content{
      background: #1c60ff;
      height:100vh;
      .ant-modal-body{
        height: 100%;
      }
    }
  }
}
.panel-default-theme{
  background: #1c60ff;
  height: 100%;
  width:30vw;
}
.unlock-tabs{
 .ant-tabs-nav .ant-tabs-tab{
  margin:0px !important;
 }
}
