@import 'variables.less';
/*---------------------
    header
-----------------------*/
header { position: fixed; z-index: 1000; width: 100%;   border-bottom: 4px solid rgb(8, 34, 63); } 
header .bg{height: 70px; padding: 15px 20px;}
header .w-control{ margin-left: 280px; }
header h2{ font-size: 18px; opacity: .87; }
header h2 span{ padding-left: 5px; font-weight: normal; vertical-align: middle; opacity: .54; }
header .account{ position: relative; }
header .account .photo{ width: 32px; height: 32px; }
header .account .msg{ position: absolute; bottom:-2px; right: -2px; display: block; width: 12px; height: 12px; line-height: 12px; background: rgba(254, 79, 87, 1.0); border-radius: 6px; font-size: 12px;}
header .account .msg i{display: inline-block; transform:scale(0.6,0.6); vertical-align: top;}

/*---------------------
    custom 
-----------------------*/
.side{ position: absolute; height: 100%; }
.side-fixed{ position: fixed; height: 100%;}
.m-container{overflow: hidden; padding-top: 74px; }
.h-full{ height: 100vh; }
.loopring-brand{ height: 70px; text-align: center; padding-top: 10px; }
.loopring-brand .img{ width: 134px; height: 40px; vertical-align: middle }
.token-total{ text-align: center; padding: 15px 0 20px; }
.token-total h3{ font-family: "DINPro","Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif"; }
.token-total small{ opacity: .27 }
.tool-bar{ margin: 0 -2px; padding: 0 20px; }
.tool-bar>div{ padding: 0 2px; }
.tool-bar .favorites i,.tool-bar .token-view i{ display: inline-block; width: 30px; height: 30px; border: 1px solid rgba(255, 255, 255, .07); text-align: center; line-height: 28px; font-size: 16px; opacity: 0.54; }
.tool-bar .favorites.active i{color: rgba(255, 184, 50, 1.0); opacity: 1;}
.tool-bar .favorites.active i:before{ font-family: iconfont;  content: "\e913"; }
.tool-bar .search{ position: relative; display: block; width: 100% }
.tool-bar .search input{ padding: 5px; width:100%; height: 30px; border: 1px solid rgba(255, 255, 255, .07); background: rgba(255, 255, 255, 0); color:  rgba(255, 255, 255, .87); }
.tool-bar .search input:focus{ outline: 0; border: 1px solid rgba(255, 255, 255, .17);}
.tool-bar .search i{ position: absolute; top: 35%; left: 50%; width: 12px; height: 12px; margin: -6px 0 0 -6px; opacity: 0.27; }
.token-list{ margin-top: 10px; }
.token-list .item{ position: relative; height: 70px; border-bottom: 1px solid rgba(255, 255, 255, .03); padding: 0 20px; }
.token-list .item,.token-list .item .sub{ display: flex; justify-content: space-between; align-items: center; }
.token-list .item .favorites,.token-list .item .more{width: 30px; text-align: center; opacity: .27;}
.token-list .item .more:hover{opacity: .54;}
.token-list .item .favorites.active{ color: rgba(255, 184, 50, 1.0); opacity: 1;}
.token-list h3{ font-size: 14px; opacity: .54; font-weight: 500; }
.token-list p{ margin:@mr-0; font-size: 12px; opacity: .27; }
.token-list .icon-token{ margin-right: 10px; }
.token-list .value{ text-align: right }
.token-list .item:hover{ background: rgba(255, 255, 255, .03);  }
.token-list .item.active,.token-list .item.active:hover{ background: rgba(12, 48, 90, 1); margin:-1px 0; border: 0; }
.token-list .item.active h3,.token-list .item:hover h3{opacity: .87;}
.icon-token{ display: inline-block; width: 32px; height: 32px; border: 1px solid rgba(255,255,255,.54); border-radius: 16px; font-size: 22px; text-align: center; line-height: 30px; color: rgba(255,255,255,.87)}
.vertical-btn-group{}
.vertical-btn-group button{ display: block; background: rgba(0, 0, 0, 0.07); text-align: left; padding: 5px 20px; }
.vertical-btn-group button:active,.vertical-btn-group button:focus{ background: rgba(0, 83, 184, 1.0); color: rgba(255, 255, 255, .87);  }
.icon-success{ background: rgba(54, 214, 88, 1.0); text-align: center; color: #fff; border-radius: 60px;  }
.icon-warning{ background: rgba(236, 68, 68, 1.0); text-align: center; color: #fff; border-radius: 60px; }
.icon-clock{ background: rgba(255, 184, 50, 1.0); text-align: center; color: #fff; border-radius: 60px; }
.icon-question,.icon-plus-circle{ color: rgba(255, 255, 255, 1.0); text-align: center; background: #fff; border-radius: 60px; }
.loopring-dex{ border-top: 4px solid @blue-darker; border-bottom: 4px solid @blue-darker;}
.side-fixed .table.table-inverse thead th,.side-fixed .table.table-inverse tbody td{ padding: 10px 20px; }
.text-color-dark[class^="icon-"],.text-color-dark[class*=" icon-"] { border: 1px solid @bordered-drak-color-1 !important; background: transparent !important; color: @text-color-dark-3 !important; }
.icon-favorites.active{ color: rgba(255, 184, 50, 1.0); }

.home{ height: 100%; background-color: #08223F; background-image: url('../images/bg.png'); background-size: cover; }
.home-content{ position: relative; z-index: 100; height: 100vh; padding-bottom: 120px;}
.home-content.open,.home-content.open .tab-content{ display: block !important; }
.home-content.open h1{ display: none }
.home-content h1{ font-size: 32px; text-align: center; color:rgba(28, 96, 255, 1.0) !important; margin-bottom: 100px !important;  }
.home-content.open .tab-card{ padding-top: 90px; }
.home-content.open .tab-content{ width: 620px; background: @blue-light; border:1px solid rgba(255,255,255,.07); padding: 50px;  margin: 0 auto;  }
.home-content.open .tab-content h2{ font-size: 32px; margin: 40px 0 60px; }
.home-content.open .tab-content li{ font-size: 16px; }
.home-content .password-strong{ font-size: 14px; margin: 30px 0; }
.home-content .tab-card{text-align: center;}
.home-content .tab-card .item{ width: 150px; height: 200px; padding: 45px 0 0; margin: 10px; background-color: rgba(12, 48, 90, .87);  color: #1C60FF; }
.home-content .tab-card .item.remove{ display: none; }
.home-content.open .tab-card .item.remove{ display: block;}
.home-content.open .tab-card .item.remove i{ font-size: 20px; }
.home-content.open .tab-card .item.remove a i{ color: rgba(255,255,255,.27) ;  -webkit-text-decoration-skip: objects; transition: all 0.45s ease-in-out; }
.home-content.open .tab-card .item.remove:hover a i{ color: rgba(255,255,255,.54) }
.home-content .tab-card .item i{ font-size: 48px; }
.home-content .tab-card .item h4{ margin-top: 30px; font-size: 16px; font-weight: 900; }
.home-content .tab-card .item a{ display: block; color: rgba(28, 96, 255, 1.0) }
.home-content .tab-card .item:hover,.home-content .tab-card .item.active:hover,.home-content .tab-card .item.active{ background: rgba(28, 96, 255, .87) !important }
.home-content .tab-card .item:hover a,.home-content .tab-card .item.active a{ color: #fff; }
.home-content .tab-card.inup{text-align: center;}
.home-content .tab-card.inup .item{ position: relative; width: 60px; height: 60px; line-height: 60px; padding: 0; margin: 10px; background-color: rgba(12, 48, 90, .87); text-align: center; color: #1C60FF; }
.home-content .tab-card.inup .item i{ font-size: 24px; }
.home-content .tab-card.inup .item:hover h4{ display: block; position: absolute; width: 120px;  margin-top:10px; margin-left: -30px; text-align: center; font-size: 12px; line-height: 1.2; font-weight: normal; }
.home-content .tab-card.inup .item h4{ display: none; }
.home-content .notice{ display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }
.home-content .notice i{ display: block; width: 32px; height: 32px; line-height: 32px; font-size: 24px; }
.home-content .notice div{ padding: 20px; color: rgba(0,0,0,.54) }
.home-content .tabs-text{ display: flex; justify-content: space-around; padding: 0 100px;  }
.home-content .tabs-text li a{ color: rgba(255,255,255,.54); font-size: 16px; font-weight: 900;}
.home-content .tabs-text li.active a{ color: rgba(255,255,255,1);  }
.mnemonic-content{ background: rgba(255,255,255,1); padding: 15px; margin-bottom: 20px; color: rgba(0,0,0,.87); font-size: 16px; font-weight: 600; line-height: 1.5; word-spacing:10px; text-align: left;}
.up-file{ padding: 15px 0; margin-bottom: 10px; }
.up-file a{ color: rgba(255,255,255,.54) }
.up-file a:hover{ color: rgba(255,255,255,.87) }


.home-header{ position: fixed; z-index: 1000; width: 100%; height: 50px; margin: 20px 0; }
.home-header .brand { width: 200px; height: 50px;}
.home-header .brand img { width: 100%; }
.home-body{ height: 100%; }
.language{ margin-top: 15px }
.language .icon{ position: relative; top: 2px; margin-right: 5px; display: inline-block; width: 18px; height: 14px; }
.language .icon.en,.language .icon.cn{ background: url('../images/flag-sprite.png') no-repeat; background-size: 36px 14px; }
.language .icon.cn{ background-position: -18px 0; }
.language.dropdown{ right:0; padding: 0; margin:0;}
.language.dropdown li{ list-style: none; }
.home-market{ width: 100%; position: fixed; bottom: 0; z-index: 100; overflow: hidden; }
.home-market .item{ width:12.5%; min-width:240px; height: 120px; background: rgba(0, 0, 0, .17); padding: 40px; font-weight: 900;}
.home-market .item:hover{background: rgba(0, 0, 0, .54);}
.home-market .item .bar{ margin-bottom: 5px; }
.home-market .item .name{ color: rgba(255, 255, 255, 1.0);  }
.home-market .item .change{}
.home-market .item .value{ color: rgba(255, 255, 255, 0.54) }

.tool-sm [class*="icon-"] { color: rgba(0, 0, 0, .54); font-size: 14px; cursor: pointer }
.tool-sm [class*="icon-"]:hover { color: #40D2C5; }
.tool-sm .danger:hover { color: #E95A5A }
.page,.body { height: 100% }
[data-overlay]::before { position: absolute; content: ''; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(8, 34, 63, .54);}
[data-overlay="54"]::before { opacity: .54}
.overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.portfolio-chart .total { font-size: 26px; margin-bottom: 10px; }
.title i { position: relative; top: -2px; }
.user.dropdown-menu li.pd { padding: 0 15px; }
.portfolio { }
.portfolio .header.item li { color: rgba(0, 0, 0, 0.54); }
.portfolio .item li { list-style: none; min-width: 160px; text-align: center; }
.portfolio .item { display: flex; -ms-flex-pack: justify !important; justify-content: space-between !important; box-shadow: 0 1px 2px rgba(0, 0, 0, .05); padding: 10px; margin-bottom: 5px; background: #fff; }
.portfolio .item i { font-size: 16px; color: #778f9b }
.portfolio .item:nth-child(n+2):hover { background: rgba(0, 0, 0, .02) }
.portfolio .item li:first-child { text-align: left; }
.portfolio .item li:last-child { text-align: right; }
.portfolio-list-wrap { position: relative; display: inline-flex; width: 460px; height: 360px; }
.portfolio-list { display: flex; flex-direction: column; justify-content: space-between; }
.portfolio-list .item { position: relative; width: 100%; min-height: 60px; flex-direction: row; flex-grow: 1; display: inline-flex; justify-content: space-between; align-items: center; padding: 0 50px 0 120px; text-align: center; border-bottom: 1px solid rgba(0, 0, 0, .054); border-left: 1px solid rgba(0, 0, 0, .054); color: rgba(0, 0, 0, .54); }
.portfolio-list .item i { position: relative; z-index: 100; font-size: 32px; color: #a6bfcc }
.portfolio-list .item b { position: absolute; right: 0; width: 3px; height: 100%; opacity: 0; background: #778f9b }
.portfolio-list .item:hover b { opacity: 1; }
.portfolio-list .item:hover i,.portfolio-list .item.active i{ color: #778f9b }
.portfolio-list .item:last-child { border-bottom: 0; }
.portfolio-list .item i:after { position: absolute; z-index: -1; left: 1px; top: 1px; width: 30px; height: 30px; content: ""; background: #fff; border-radius: 16px; }
.portfolio-list .item p { font-size: 16px; }
.portfolio-list .item:hover, .portfolio-list .item.active { background: rgba(0, 0, 0, .02) }
.portfolio-dashboard { height: 360px; }
.portfolio-chart { position: absolute; top: 100px; z-index: 200; left: -80px; width: 160px; height: 160px; padding: 20px; background: #fff; border-radius: 100px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) }
.portfolio-chart .img { width: 100%; width: 120px; height: 120px; }
.portfolio-chart .img img { width: 100%; }
.portfolio-chart i{ position: absolute; left: 60px; top: 60px; font-size: 40px; color: #778f9b  }
.portfolio-total { display: inline-flex; width: 700px; height: 360px; padding: 0 50px; align-items: center; text-align: center; color: rgba(0, 0, 0, .87) }
.portfolio-total div { width: 100%; }
.portfolio-total b { display: block; font-size: 48px; font-weight: normal; margin-bottom: 15px; color: #00838f; }
.portfolio-total b small { position: relative; top: -3px; font-size: 32px; padding-right: 20px; vertical-align: middle; color: #a6bfcc }
.portfolio-total span { display: block; font-size: 16px; color: #a6bfcc }
.content-scroll, .portfolio-list { position: relative; width: 100%; height: 100%; overflow: hidden }
.my-asset { background: #fff; height: 720px; }
.my-asset .header { display: flex; padding: 15px; justify-content: space-between; border-bottom: 1px solid rgba(255, 255, 255, .1); }
.token-side{ background: #f1f4f7 }
.token-side .header .form-control { background: #fff; border: 0; }
.token-side .header button:hover i{ color:#778f9b}
.token-side .group-span { display: table; width: 100%; }
.token-side .group-span span { display: table-cell; text-align: left; }
.token-side .group-span span:nth-child(3) i { font-size: 18px; }
.token-side .group-span span .btn i:hover { color: #778f9b }
.token-side-list { height: 657px; }
.token-side-list .item { position: relative; display: flex; padding: 15px; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(0, 0, 0, .04) }
.token-side-list .item:last-child { border: 0; }
.token-side-list .item:hover, .token-side-list .item.active { background: rgba(255, 255, 255, 1.0) }
.token-side-list .item.active:before { position: absolute; left: 0; height: 100%; border-left: 4px solid #00838f; content: ""; }
.token-side-list .item>span { padding-left: 10px; }
.token-side-list .item>span h3 { font-size: 16px; margin-bottom: 5px; font-weight: normal }
.token-side-list .item>span h3 small { font-size: 16px; color: rgba(0, 0, 0, .54) }
.token-side-list .item>span p small { color: rgba(0, 0, 0, .27) }
.token-side-list .item>span:first-child i { vertical-align: unset; color: rgba(0, 0, 0, .27) }
.token-side-list .item>span:last-child i { font-size: 16px; color: rgba(0, 0, 0, .27) }
.token-side-list .item>span:first-child i.active { color: #FAC511 }
.token-side-list .item>span+span i { font-size: 28px; color: #a6bfcc }
.token-side-list .item:hover>span+span i, .token-side-list .item.active>span+span i { color: #778f9b }
.token-side-list .item>span:nth-child(3) { width: 269px; }
.transactions { height: 720px; }
.transactions .header { background: #fff; }
.transactions .status { display: flex; justify-content: space-between; padding: 20px 0; margin: 0 40px; align-items: center; border-bottom: 1px solid rgba(0, 0, 0, .05) }
.transactions .status>span { }
.transactions-list { height: 587px; }
.transactions-list .content-scroll { padding: 0 40px; }
.transactions-list .item { display: flex; padding: 15px 0; height: 73px; justify-content: space-between; align-items: center; background: rgba(255, 255, 255, .54); border-bottom: 1px solid rgba(0, 0, 0, .05) }
.transactions-list .item:last-child { border: 0; }
.transactions-list .item>div { }
.transactions-list .item>div h3 i { position: relative; top: -2px; color: rgba(0, 0, 0, .54) }
.transactions-list .item>div h3 { font-size: 16px; margin-bottom: 5px; font-weight: normal }
.transactions-list .item>div h3 span { font-size: 12px; }
.transactions-list small { color: rgba(0, 0, 0, .27) }
.range-slider { position: relative; height: 4px; background: rgba(0, 0, 0, .08); margin: 10px 5px; }
.range-slider-step { position: absolute; z-index: 50; height: 4px; background: rgba(28, 96, 255, 1.0); }
.range-slider-dot { position: absolute; top: -3px; z-index: 50; margin-left: -5px; display: inline-block; width: 10px; height: 10px; border-radius: 5px; background: #fff; border: 2px solid #ddd; }
.range-slider-dot.active { border-color: rgba(28, 96, 255, 1.0); }
.range-slider-handle { position: absolute; top: -6px; margin-left: -8px; z-index: 100; display: inline-block; width: 16px; height: 16px; border-radius: 8px; background: #fff; border: 2px solid rgba(28, 96, 255, 1.0); }
.range-progress>div { width: 25%; color: rgba(0, 0, 0, .54);}
.range-progress>div:not(:first-child):not(:last-child) { text-align: center; }
.range-progress>div:last-child { text-align: right; }
.progress-control { width: 36px; height: 36px; position: absolute; left: -50%; top: -50%; margin: -23px 0 0 -14px; }
.progress-text { position: absolute; left: 50%; top: 50%; width: 36px; margin: -8px 0 0 -16px; font-size: 5px; text-align: center }
.range-inverse .range-slider { position: relative; height: 4px; background: rgba(255, 255, 255, .27); margin: 10px 5px; }
.range-inverse .range-slider-step { position: absolute; z-index: 50; height: 4px; background: rgba(255, 255, 255, 1.0);border: 2px solid rgba(255, 255, 255, 1.0)}
.range-inverse .range-slider-dot { position: absolute; top: -3px; z-index: 50; margin-left: -5px; display: inline-block; width: 10px; height: 10px; border-radius: 5px; background: rgba(78, 104, 135, 1);border: 2px solid rgba(78, 104, 135, 1)}
.sidebar .range-inverse .range-slider-dot { position: absolute; top: -3px; z-index: 50; margin-left: -5px; display: inline-block; width: 10px; height: 10px; border-radius: 5px; background: rgba(69, 130, 203, 1);border: 2px solid rgba(69, 130, 203, 1)}
.range-inverse .range-slider-dot.active { background:  rgba(255, 255, 255, 1.0); border-color: rgba(255, 255, 255, 1.0); }
.range-inverse .range-slider-handle { position: absolute; top: -6px; display: inline-block; width: 16px; height: 16px; border-radius: 8px; background: #fff; border: 2px solid rgba(255, 255, 255, 1.0); }
.range-inverse .range-progress>div { width: 25%; color: rgba(255, 255, 255, .54);}
.token-last-quotes ul{margin:0;}
.token-last-quotes ul>li>em{ display: block; font-style: normal; font-weight: 600; }
.token-last-quotes ul>li>small{ color:@text-color-dark-3;font-size: @font-size-base; }
.token-last-quotes ul>li{ padding-left: 40px; font-weight: 400; }
#back{ width: 40px; height: 40px; text-align: center; line-height: 40px; background: rgba(255, 255, 255, .07); color: rgba(255, 255, 255, .87) }
#back i{ font-size: 32px; }
#back:hover{background: rgba(255, 255, 255, .27); }
.tradeHeaderEle{ display: flex; }
.tradeHeaderEle .pair-select{ width: 180px; font-size: 18px; font-weight: 800; margin-left: 15px; }
.tradeHeaderEle .pair-select .caret{ position: relative; top: 2px; }
.tradeHeaderEle .token-last-quotes{ margin-left: 15px;  }
.pair-price{padding:5px 10px; border: 1px solid rgba(255, 255, 255, .07); margin: 10px 0 20px;}
.pair-price>li{ display: flex; justify-content: space-between; align-items: center; padding: 5px 0;    }
.pair-price>li .token-price{ display: inline-block; width: 100px; text-align: left;}
.pair-price>li h4{ font-size: 14px; font-weight: 600; }
.token-tab{ display: flex; justify-content: space-between }
.token-tab li{ list-style: none; width: 100%;}
.token-tab li a{ display: block; height: 40px; background: rgba(255, 255, 255, .07); color: rgba(255, 255, 255, .54); font-size: 16px; font-weight: bold; text-align: center; line-height: 40px; }
.token-tab li.active a{  color: rgba(255, 255, 255, 1); }
.token-tab li.buy.active a{background: rgba(54, 214, 88, 1.0);}
.token-tab li.sell.active a{background: rgba(254, 79, 87, 1.0);}
.balance{}
.token-select{background: #fff; color:rgba(0,0,0,.87);}
.token-select .token-select-header{ display: flex; justify-content: space-between; align-items: center; height: 71px; padding: 0 30px; border-bottom: 1px solid rgba(0, 0, 0, .07)}
.token-select .token-select-header input{ border: 0; height: 70px; width: 100%; padding-right: 60px; font-size: 20px; font-weight: 800; vertical-align: top; }
.token-select .token-select-header input:focus{ outline: 0; }
.token-select .icon-star,.token-select .token-select-header h2{ font-size: 18px;}
.token-select .token-select-body{ padding:20px 0  }
.token-select .token-select-body .item{}
.token-select .token-select-body .item li{ display: flex; justify-content: space-between; padding: 0 30px; line-height: 40px; }
.token-select .token-select-body .item li.active,.token-select .token-select-body .item li.active:hover{ background: rgba(0, 83, 184, 1.0); }
.token-select .token-select-body .item li.active{ color: rgba(255,255,255,1) }
.token-select .token-select-body .item li:hover{ background: rgba(0, 0, 0, .07); }
.token-select .token-select-body .item li span:nth-child(1){ display: block; width: 90px; text-align: left; }
.token-select .token-select-body .item li span:nth-child(2){ display: block; width: 90px; text-align: left; }
.token-select .token-select-body .title{ height: 20px; color: rgba(0, 0, 0, .27); padding: 0 30px; font-weight: 800; line-height: 20px; }
.trade-list .trade-list-header{ color: @text-color-dark-3; line-height: 30px; display: flex; justify-content: space-between; padding: 0 20px; }
.trade-list li{ display: flex; justify-content: space-between; padding: 0 20px; line-height: 26px; font-weight: 600; color: @text-color-dark-2 }
.trade-list li:hover{ background: rgba(255,255,255,.07) }
.trade-list li>span{ display: block; width: 80px; }
.trade-list li>span:nth-child(2){text-align: left;}
.trade-list li>span:nth-child(3){text-align: right;}
.trade-list .blockbar{ display: flex; position: absolute; bottom: 0; width: 100%; height: 50px; padding: 10px 20px; border-top: 1px solid rgba(255, 255, 255, .07); justify-content: space-between;font-size: 16px;}
.trade-list .blockbar i{ position: relative; top: -2px; font-size: 16px; color: rgba(255,255,255,.54)}
.trade-list .blockbar i:hover{color: rgba(255,255,255,.87)}
.tab-order.tabs li{ min-width: auto; margin-right: 20px; }
.tab-order.tabs li a{ color: rgba(255, 255, 255, .54)}
.tab-order.tabs li.active a{ color: rgba(255, 255, 255, .87)}
.order-filter{ border-bottom: 1px solid rgba(255, 255, 255, .07); padding: 10px 20px; }
.market-chart{ border-bottom: 4px solid rgb(8,34,63) }
.market-chart img{ width: 100%; height: 100%; }
// #account{ position: fixed; top: 0; right: -300px; z-index: 1000; width: 300px; height: 100%; -webkit-transition: right .3s; transition: right .3s; transition-delay: 0.2s;}
// #account.open { right: 0; }
.account-side{ position: absolute; top: 0; /*right: 0;*/ z-index: 2000; width: 300px; height: 100%; background: @blue-light; padding: 40px 0; text-align: center }
.account-side .poweroff{ display: inline-block;  }
.account-side .poweroff h5{ font-size: 14px; font-weight: normal; margin-top: 10px; }
.account-side .icon-unlock i{ font-size: 32px; }
.account-side .poweroff:hover{ opacity: .54; }
.account-side .address{  }
.account-side .address .text{ display: inline-block; width: 200px; font-size: 12px; word-break: break-word; }
.account-side .address .btn{ width: 200px; height: 40px; border: 1px solid rgba(255,255,255,1); background: transparent; color: rgba(255,255,255,1); font-size: 16px; font-weight: bold; }
.account-side .address .btn:hover{ background: rgba(255,255,255,1); color: @blue-light; }
.account-side .menu{}
.account-side .menu li{ height: 50px; line-height: 50px; text-align: center; list-style: none; font-size: 15px;  cursor: pointer }
.account-side .menu li.active,.account-side .menu li:hover,.account-side .menu li.active:hover{ background: rgba(255,255,255,.07); font-weight: 900; }
.account-side .menu li:hover{ font-weight: 200;}
.account-side .menu li a{display: block; color: rgba(255,255,255,.87); font-weight: 400; }
.account-side .menu li a:hover{ color: rgba(255,255,255,1) }
.account-side .menu li i{ position: relative; top: -1px; font-size: 16px; }
.account-side .menu li a>span{ display: inline-block; width: 80px; padding-left: 5px; text-align: left; }
@keyframes slideRight {
  0% { left: 100vw; }
  100% { right: 0; }
}

.sidebar{ width: 450px !important; }
.sidebar .webui-popover{ position: fixed; z-index: 10000; top: 0 !important; bottom: 0 !important; left: auto !important; right: 0; width: 450px !important; height: 100%; background: @blue-light;  -webkit-transform: translate(100%, 0) !important; transform: translate(100%, 0) !important; -webkit-transition: .5s; transition: .5s; color: rgba(255,255,255,1); }
.sidebar .webui-popover.in{  -webkit-transform: translate(100%, 0) !important; transform: translate(0, 0) !important }
.sidebar .webui-popover .tabs a{ color: rgba(255,255,255,.54); }
.sidebar .webui-popover .tabs li.active a{ color: rgba(255,255,255,1); }
.sidebar .webui-popover .tabs li{ min-width: auto; padding-right: 30px; }
.sidebar-header h3{ font-size: 18px; color: rgba(255,255,255,1); }
.sidebar .webui-popover .webui-popover-content{padding: 50px;}

.Receive-qrcode{ text-align:center; margin:15px; }
.Receive-qrcode img{ padding: 20px; width: 160px; height: 160px; background: rgba(255,255,255,1); }
