@font-face {
  font-family: "Chinese Quote";
  src: local("PingFang SC"), local("SimSun");
  unicode-range: U+2018, U+2019, U+201c, U+201d;
}

@transparent:transparent;
@box-shadow-none:none;
@h-auto:auto;
@bd-0:0;
@pd-0:0;
@md-0:0;
@h-full:100%;
@h-fullvh:100vh;
@w-full:width:100%;

@font-face {
  src: local("PingFang SC","Helvetica Neue","Helvetica","Arial", "Verdana",), local("Micosfot Yahei","simhei","simsun","Arial", "Verdana");
}
@font-family              : "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
@heading-color            : fade(#000, 87%);
@text-color               : fade(#000, 54%);
@text-color-secondary     : fade(#000, 27%);
@heading-color-dark       : fade(#fff, 100%);
@text-color-dark          : fade(#fff, 87%); 
@text-color-secondary-dark: fade(#fff, 54%);
@white                    : fade(#fff, 100%);
@blue-darker              : hsv(214,89,22);
@blue-dark                : hsv(212,89,100);
@blue-light               : hsv(212,87,35);
@font-size-base           : 13px;
@font-size-sm          	  : 12px;
@font-size-md             : @font-size-base + 2px;
@font-size-lg             : @font-size-base + 4px;
@font-size-xlg            : @font-size-base + 7px;
@line-height-base         : 1.5;
@line-height-sm           : 1.2;
@primary-color            : hsv(222,89,100);
@success-color            : hsv(133,75,84);
@processing-color         : hsv(22,89,100);
@error-color              : hsv(357,69,100);
@warning-color            : hsv(39,80,100);
